/* ------------------------- Lenis -------------------------------------------------- */

html.lenis {height: auto;}
.lenis.lenis-smooth {scroll-behavior: auto; height: 100vh;}
.lenis.lenis-smooth [data-lenis-prevent] {overscroll-behavior: contain;}
.lenis.lenis-stopped {overflow: hidden;}
.lenis.lenis-scrolling iframe {pointer-events: none;}

/* ------------------------- Variables -------------------------------------------------- */

:root {

   --color-dark-rgb: 28, 32, 40;
   --color-dark: rgba(var(--color-dark-rgb), 1);
   --color-dark-tint: #1E2530;

   --color-light-rgb: 245, 248, 250;
   --color-light: rgba(var(--color-light-rgb), 1);
   --color-light-tint: #F8FAFB;

   --color-white-rgb: 255, 255, 255;
   --color-white: rgba(var(--color-white-rgb), 1);

   --color-black-rgb: 0, 0, 0;
   --color-black: rgba(var(--color-black-rgb), 1);

   /* VLINKA Tech Green/Teal Theme */
   --color-primary-rgb: 0, 184, 148; /* Teal Green */
   --color-primary: rgba(var(--color-primary-rgb), 1);

   --color-secondary-rgb: 0, 206, 201; /* Cyan Accent */
   --color-secondary: rgba(var(--color-secondary-rgb), 1);

   --color-aqua-rgb: 9, 132, 227; /* Blue Accent */
   --color-aqua: rgba(var(--color-aqua-rgb), 1);

   --color-glow-rgb: 85, 239, 196;
   --color-glow: rgba(var(--color-glow-rgb), 1);

   --color-beige-rgb: 232, 240, 242;
   --color-beige: rgba(var(--color-beige-rgb), 1);

   --color-gray: #B8C5CA;
   --color-lightgray: var(--color-light-tint);

   --color-border: rgba(var(--color-dark-rgb), 0.15);
   --color-border-light: rgba(var(--color-white-rgb), 0.25);
   --color-text: rgba(var(--color-dark-rgb), 0.75);
   --color-text-light: rgba(var(--color-white-rgb), 0.85);

   --color-alert-error: #dc122d;
   --color-alert-success: #00b894;

   --animation-primary: 0.3s cubic-bezier(.5, 0, .25, 1);
   --animation-smooth: 0.5s cubic-bezier(1, 0, .25, 1);
   --animation-theme: 0.3s ease-in-out;
   --animation-nav-smooth: 0.5s cubic-bezier(.5, 0, .25, 1);
   --animation-cursor: 0.4s cubic-bezier(0.5, 0, .25, 1);
   --animation-bounce: 0.4s cubic-bezier(0.35, 1.5, 0.6, 1);
   --animation-bounce-smooth: 0.6s cubic-bezier(0.5, 1.5, 0.5, 1);

   --section-padding: var(--title-size);
   --container-padding: calc(var(--col-gap) * 1.5);

   --row-gap: calc(var(--title-size) * 0.3);
   --col-gap: calc(var(--title-size) * 0.3);
   --col-gap-small: calc(var(--title-size) * 0.1);

   --title-size: clamp(5em, 7.5vw, 7.5em);

   --border-radius: calc(var(--btn-height) * 0.5);

   --btn-height: 2.6em;
   --nav-bar-height: calc(var(--btn-height) + (var(--row-gap) * 2));
}

[data-theme-section="dark"] {
   --color-border: rgba(var(--color-white-rgb), 0.25);
   --color-text: rgba(var(--color-white-rgb), 0.85);
}

@media screen and (max-width: 1024px) {
   :root {
      --container-padding: clamp(1.25em, 4vw, 2.5em);
   }
}

@media screen and (max-width: 860px) {
   :root {
      --nav-bar-height: calc(var(--btn-height) + (var(--container-padding) * 2));
   }
}

/* ------------------------- Hide Scrollbar -------------------------------------------------- */

body::-webkit-scrollbar{display: none;}
body {-ms-overflow-style: none;}
html {scrollbar-width: none;}

/* ------------------------- Body -------------------------------------------------- */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
li, ul, figure { padding: 0; margin: 0; list-style: none;}

html {
   scroll-behavior: initial;
}

body {
   -webkit-font-smoothing: antialiased;
   font-family: 'Inter', 'Source Han Serif CN VF', 'Source Han Serif SC', 'Source Han Serif', 'Noto Serif CJK SC', sans-serif;
   color: var(--color-text);
   line-height: 1.5;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   font-size: clamp(16px, 1.2vw, 19px);
   background-color: var(--color-light-tint);
   overscroll-behavior-y: none;
}

html, body {
   width: 100%;
   min-height: 100%;
   -webkit-font-smoothing: antialiased;
   position: relative;
}

main {
   overflow: hidden;
   box-sizing: border-box;
}

.main-wrap {
   will-change: transform;
   box-sizing: border-box;
}

/* Selection */
::selection {
   background-color: var(--color-primary);
   color: var(--color-white);
   text-shadow: none;
}

::-moz-selection {
   background-color: var(--color-primary);
   color: var(--color-white);
   text-shadow: none;
}

/* General */
canvas, img, video, picture, figure {
   max-width: 100%;
   height: auto;
   box-sizing: border-box;
   display: block;
}

svg {
   max-width: none;
   height: auto;
   box-sizing: border-box;
}

audio, canvas, iframe, img, svg, video, picture, figure {
   vertical-align: middle;
}

/* ------------------------- Typography -------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em, figcaption,
.h1, .h2, .h3, .h4, .h5, .h6 {
   padding: 0; margin: 0; font-style: normal; letter-spacing: normal; font-weight: unset; line-height: unset;
}

h1, .h1 {
   font-family: 'Manrope', 'Source Han Serif CN VF', 'Source Han Serif SC', 'Source Han Serif', 'Noto Serif CJK SC', sans-serif;
   font-weight: 600;
   font-size: calc(var(--title-size) * 0.8);
   line-height: 1;
   color: var(--color-dark);
}

h2, .h2 {
   font-family: 'Manrope', 'Source Han Serif CN VF', 'Source Han Serif SC', 'Source Han Serif', 'Noto Serif CJK SC', sans-serif;
   font-weight: 600;
   font-size: calc(var(--title-size) * 0.45);
   line-height: 1.2;
   color: var(--color-dark);
}

@media screen and (max-width: 540px) {
   h1, .h1 {
      font-size: calc(var(--title-size) * 0.55);
   }

   h2, .h2 {
      font-size: calc(var(--title-size) * 0.375);
   }
}

h2.small,
.h2.small {
   font-size: calc(var(--title-size) * 0.3);
   line-height: 1.2;
}

h3, .h3 {
   font-family: 'Manrope', 'Source Han Serif CN VF', 'Source Han Serif SC', 'Source Han Serif', 'Noto Serif CJK SC', sans-serif;
   font-weight: 700;
   font-size: calc(var(--title-size) * 0.3);
   line-height: 1;
   color: var(--color-dark);
}

h3.light,
.h3.light {
   font-weight: 400;
   font-size: calc(var(--title-size) * 0.325);
   line-height: 1.3;
}

h4, .h4 {
   font-family: 'Manrope', 'Source Han Serif CN VF', 'Source Han Serif SC', 'Source Han Serif', 'Noto Serif CJK SC', sans-serif;
   font-weight: 600;
   font-size: calc(var(--title-size) * 0.275);
   line-height: 1;
   color: var(--color-dark);
}

h5, .h5 {
   font-family: 'Manrope', 'Source Han Serif CN VF', 'Source Han Serif SC', 'Source Han Serif', 'Noto Serif CJK SC', sans-serif;
   font-weight: 600;
   font-size: calc(var(--title-size) * 0.2);
   line-height: 1.2;
   color: var(--color-dark);
}

[data-theme-section="dark"] :is(h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5) {
   color: var(--color-white);
}

p,
.p {
   font-weight: 400;
   font-style: normal;
   font-size: 0.95em;
   line-height: 1.6;
   color: var(--color-text);
}

span {
   font-weight: inherit;
   color: inherit;
}

strong {
   font-weight: 500;
   color: var(--color-dark);
}

[data-theme-section="dark"] strong {
   color: var(--color-white);
}

em {
   font-style: italic;
}

a {
   color: unset;
   text-decoration: none;
}

.eyebrow {
   font-size: 0.85em;
   color: var(--color-primary);
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.05em;
}

.color-primary {
   color: var(--color-primary);
}

/* ------------------------- Main Elements -------------------------------------------------- */

/* Section */

.section {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   position: relative;
}

.section-wrap {
   position: relative;
}

.section.full-height {
   padding-top: 0;
   padding-bottom: 0;
}

.section.full-height .container > .row {
   min-height: 100vh;
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

/* Section Colors */

[data-bg-section="light"] {
   background-color: var(--color-light);
}

[data-bg-section="dark"] {
   background-color: var(--color-dark);
}

[data-bg-section="primary"] {
   background-color: var(--color-primary);
}

[data-bg-section="dark-tint"] {
   background-color: var(--color-dark-tint);
}

[data-bg-section="light-tint"] {
   background-color: var(--color-light-tint);
}

[data-bg-section="beige"] {
   background-color: var(--color-beige);
}

/* Header */

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: hidden;
   z-index: 200;
   pointer-events: none;
}

/* Container */

.container {
   margin: 0 auto;
   padding-left: var(--container-padding);
   padding-right: var(--container-padding);
   max-width: calc(var(--title-size) * 12);
}

.container.wide {
   max-width: calc(var(--title-size) * 14);
}

.container.medium {
   max-width: calc(var(--title-size) * 10);
}

.container.small {
   max-width: calc(var(--title-size) * 8);
}

.container.full {
   max-width: 100vw;
   padding-left: 0;
   padding-right: 0;
}

/* Row/Col */

.row {
   display: flex;
   width: 100%;
   position: relative;
}

.col {
   display: flex;
   flex-direction: column;
   position: relative;
}

.row.grid {
   flex-wrap: wrap;
   gap: var(--row-gap) var(--gap);
   --gap: var(--col-gap);
   --columns: 3;
}

.row.grid > .col {
   width: calc((99.99% / var(--columns)) - (var(--gap) * ((var(--columns) - 1) / var(--columns))));
}

/* Overlay */

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.overlay.overlay-dark {
   background-color: rgba(var(--color-black-rgb), 0.5);
}

img.overlay,
video.overlay {
   object-fit: cover;
}

/* No select */

.no-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* ------------------------- Buttons -------------------------------------------------- */

.col-row-btn {
   display: flex;
   gap: 0.5em;
   flex-direction: row;
}

.btn {
   position: relative;
   border: 0;
   outline: 0;
   border-radius: var(--border-radius);
   text-align: center;
   overflow: hidden;
}

.btn::before {
   content: '';
   position: absolute;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
   transition: left 0.6s ease;
   z-index: 2;
   pointer-events: none;
}

.btn:hover::before {
   left: 100%;
}

.btn input {
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}

.btn .btn-click {
   cursor: pointer;
   background-color: transparent;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   height: var(--btn-height);
   overflow: hidden;
   border-radius: var(--border-radius);
}

.btn .btn-content {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 1.2em;
   height: 100%;
   transform: translateX(0) rotate(0.001deg);
   gap: 0.5em;
   border-radius: var(--border-radius);
   line-height: 1.3;
}

.btn .btn-fill {
   position: absolute;
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
   border-radius: var(--border-radius);
   background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
   background-size: 200% 200%;
   background-position: 0% 50%;
   transition: background-position 0.6s ease;
}

.btn:hover .btn-fill {
   background-position: 100% 50%;
}

.btn .btn-content span {
   font-family: 'Manrope', sans-serif;
   font-size: 0.85em;
   color: #ffffff;
   display: block;
   position: relative;
   font-weight: 500;
   transition: color var(--animation-theme);
}

.btn .btn-content svg {
   width: 0.85em;
   position: relative;
}

.btn.external .btn-content svg {
   transform: rotate(-45deg);
}

.btn .btn-content svg :is(polyline, line) {
   stroke: var(--color-dark);
   transition: stroke var(--animation-theme);
   stroke-width: 2px;
}

.btn .border-box {
   border-radius: var(--border-radius);
   transition: opacity 0.1s ease-in-out 0.1s, border-color var(--animation-theme);
   z-index: 3;
}

/* Tag */

.btn.tag .btn-click {
   height: calc(var(--btn-height) * 0.75);
}

.btn.tag .btn-content {
   padding: 0 0.85em;
}

.btn.tag .btn-content span {
   font-size: 0.75em;
}

/* XL */

.btn.xl .btn-click {
   height: calc(var(--btn-height) * 1.25);
}

.btn.xl,
.btn.xl .btn-click,
.btn.xl .border-box,
.btn.xl .btn-fill,
.btn.xl .btn-content  {
   border-radius: calc(var(--border-radius) * 1.5);
}

.btn.xl .btn-content {
   padding: 0 1.5em;
}

.btn.xl .btn-content span {
   font-size: 0.95em;
}

.btn.xl .btn-content svg {
   width: 0.95em;
}

/* Primary */

.btn.primary .border-box {
   display: none;
}

/* Dark */

.btn.dark .border-box {
   display: none;
}

.btn.dark .btn-content.duplicate .btn-fill {
   background-color: var(--color-dark);
}

.btn.dark .btn-content.duplicate span {
   color: var(--color-white);
}

/* Light */

.btn.light .border-box {
   display: none;
}

.btn.light .btn-content.duplicate .btn-fill {
   background-color: var(--color-white);
}

.btn.light .btn-content.original .btn-fill {
   background-color: var(--color-primary);
}

/* Outline */

.btn.outline .btn-content.original .btn-fill {
   background-color: var(--color-primary);
}

.btn.outline .btn-content.duplicate .btn-fill {
   background-color: var(--color-light);
}

[data-theme-section="dark"] .btn.outline .btn-content.duplicate span {
   color: var(--color-light);
}

[data-theme-section="dark"] .btn.outline .btn-content.duplicate .btn-fill {
   background-color: var(--color-dark);
}

[data-theme-section="dark"] .btn.outline .border-box {
   border-color: var(--color-border-light);
}

/* ------------------------- Links -------------------------------------------------- */

.link {
   position: relative;
}

.link .link-click {
   position: relative;
   padding: 0.25em 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.link .link-click::before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: var(--color-primary);
   transform: scaleX(0) rotate(0.001deg);
   transform-origin: right center;
   transition: transform var(--animation-primary), background-color var(--animation-primary) 0.15s;
}

.link .link-click span {
   font-family: 'Manrope', sans-serif;
   font-size: 0.85em;
   color: var(--color-dark);
   display: block;
   position: relative;
   font-weight: 500;
   transition: color var(--animation-theme), opacity var(--animation-primary);
}

[data-theme-section="dark"] .link .link-click span {
   color: var(--color-white);
}

/* Hover */

.link .link-click:hover::before,
.link[data-link-status="active"] .link-click::before {
   transform-origin: left center;
   transform: scaleX(1) rotate(0.001deg);
}

.link[data-link-status="active"] .link-click::before {
   background-color: var(--color-primary);
}

/* ------------------------- Borders -------------------------------------------------- */

.border-box {
   pointer-events: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: transparent;
   border: 1px solid var(--color-border);
   transition: border var(--animation-primary);
}

.border-bottom {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: var(--color-border);
   transition: background-color var(--animation-primary);
}

/* ------------------------- Styled Content -------------------------------------------------- */

.styled-content :is(h1, h2, h3, p, figure, .h1, .h2, .h3) {
   margin-bottom: 1.25rem;
}

.styled-content > *:first-child {
   margin-top: 0;
}

.styled-content :is(h1, h2, h3, p):last-child {
   margin-bottom: 0;
}

.styled-content p a {
   color: var(--color-primary);
   text-decoration: underline;
   transition: var(--animation-primary);
}

.styled-content p a:hover {
   color: var(--color-secondary);
}

.styled-content ul {
   display: flex;
   flex-direction: column;
   padding-left: 0.75em;
   gap: 0.5em;
   padding-bottom: 1.25rem;
}

.styled-content ul li {
   position: relative;
   font-size: 0.95em;
   color: var(--color-text);
}

.styled-content ul li::before {
   content: "";
   left: -0.75em;
   top: 0.55rem;
   height: 0.3em;
   width: 0.3em;
   background: var(--color-primary);
   position: absolute;
   border-radius: 50%;
}
